<form ng-submit="vm.submit()" name="CoqpForm" novalidate>

    <md-input-container class="md-block">
        <label>Partner Name</label>
        <input type="text" id="partner" name="partner" ng-model="vm.partner" required>

        <div ng-if="CoqpForm.partner.$dirty" ng-messages="CoqpForm.partner.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Name of Account Manager handling this opportunity</label>
        <input type="text" id="accountManagerName" name="accountManagerName" ng-model="vm.accountManagerName">
        <!--<textarea ng-model="vm.topic" md-maxlength="150" rows="5" md-select-on-focus></textarea>-->
        <div ng-if="CoqpForm.accountManagerName.$dirty" ng-messages="CoqpForm.accountManagerName.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>


    <h3 class="md-subhead">Customer Info</h3>

    <md-input-container class="md-block">
        <label>Official Company Name</label>
        <input type="text" id="companyName" name="companyName" ng-model="vm.companyName">

        <div ng-if="CoqpForm.companyName.$dirty" ng-messages="CoqpForm.companyName.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Customer Industry</label>
        <input type="text" ng-model="vm.customerId">
        <!--Select box-->
    </md-input-container>

    <md-input-container class="md-block">
        <label>HQ Address</label>
        <input type="text" id="hqAddress" name="hqAddress" ng-model="vm.hqAddress">

        <div ng-if="CoqpForm.hqAddress.$dirty" ng-messages="CoqpForm.hqAddress.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Branch Address 1</label>
        <input type="text" id="branchAddress1" name="branchAddress1" ng-model="vm.branchAddress1">

        <div ng-if="CoqpForm.branchAddress1.$dirty" ng-messages="CoqpForm.branchAddress1.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Branch Address 2</label>
        <input type="text" id="branchAddress2" name="branchAddress2" ng-model="vm.branchAddress2">

        <div ng-if="CoqpForm.branchAddress2.$dirty" ng-messages="CoqpForm.branchAddress2.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Ownership (main shareholder)</label>
        <input type="text" id="ownership" name="ownership" ng-model="vm.ownership">

        <div ng-if="CoqpForm.ownership.$dirty" ng-messages="CoqpForm.ownership.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Number of Sites</label>
        <input type="text" id="siteNumber" name="siteNumber" ng-model="vm.siteNumber">

        <div ng-if="CoqpForm.siteNumber.$dirty" ng-messages="CoqpForm.siteNumber.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Number of Offices</label>
        <input type="text" id="officeNumber" name="officeNumber" ng-model="vm.officeNumber">

        <div ng-if="CoqpForm.officeNumber.$dirty" ng-messages="CoqpForm.officeNumber.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Number of Branches</label>
        <input type="text" id="branchNumber" name="branchNumber" ng-model="vm.branchNumber">

        <div ng-if="CoqpForm.branchNumber.$dirty" ng-messages="CoqpForm.branchNumber.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Total number of employee</label>
        <input type="text" id="totalEmployee" name="totalEmployee" ng-model="vm.totalEmployee">

        <div ng-if="CoqpForm.totalEmployee.$dirty" ng-messages="CoqpForm.totalEmployee.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>


    <h3 class="md-subhead">Account Info</h3>

    <md-input-container class="md-block">
        <label>How many employee that connect to corporate WiFi?</label>
        <input type="text" id="employeeConnectToWifi" name="employeeConnectToWifi" ng-model="vm.employeeConnectToWifi">

        <div ng-if="CoqpForm.employeeConnectToWifi.$dirty" ng-messages="CoqpForm.employeeConnectToWifi.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do they use multiple ISPs</label>
        <textarea ng-model="vm.multipleIsp" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>List the ISP used and their Bandwidth</label>
        <textarea ng-model="vm.ispListAndBandwidth" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do they have static IP Public? Please list</label>
        <textarea ng-model="vm.listStaticIpPublic" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do their Branch Office need to connect to HQ?</label>
        <textarea ng-model="vm.branchNeedConnectToHq" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do they use WiFi as connection for their device and PCs?</label>
        <textarea ng-model="vm.useWifiAsConnectionToDeviceAndPc" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do they give free access to Guest?</label>
        <textarea ng-model="vm.giveFreeAccessToGuest" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do they need need QoS?</label>
        <textarea ng-model="vm.needQos" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do They need captive portal to their WiFi access?</label>
        <textarea ng-model="vm.needCaptivePortalForWifiAccess" md-select-on-focus></textarea>
    </md-input-container>


    <h3 class="md-subhead">Additional Account info for Hospitality Industry</h3>

    <md-input-container class="md-block">
        <label>Specific Industry</label>
        <input type="text" id="specificIndustry" name="specificIndustry" ng-model="vm.specificIndustry">

        <div ng-if="CoqpForm.specificIndustry.$dirty" ng-messages="CoqpForm.specificIndustry.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>What HMS (Hotel Management System) or PMS (Property Management System) Software that they use?</label>
        <input type="text" id="hmsPmsSoftwareUsed" name="hmsPmsSoftwareUsed" ng-model="vm.hmsPmsSoftwareUsed">

        <div ng-if="CoqpForm.hmsPmsSoftwareUsed.$dirty" ng-messages="CoqpForm.hmsPmsSoftwareUsed.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Do they need integration to their existing HMS/PMS software?</label>
        <input type="text" id="needIntegrationToHmsPmsSoftware" name="needIntegrationToHmsPmsSoftware" ng-model="vm.needIntegrationToHmsPmsSoftware">

        <div ng-if="CoqpForm.needIntegrationToHmsPmsSoftware.$dirty" ng-messages="CoqpForm.needIntegrationToHmsPmsSoftware.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>How Many rooms?</label>
        <input type="text" id="numberOfRoom" name="numberOfRoom" ng-model="vm.numberOfRoom">

        <div ng-if="CoqpForm.numberOfRoom.$dirty" ng-messages="CoqpForm.numberOfRoom.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>How many public places</label>
        <input type="text" id="numberOfPublicPlace" name="numberOfPublicPlace" ng-model="vm.numberOfPublicPlace">

        <div ng-if="CoqpForm.numberOfPublicPlace.$dirty" ng-messages="CoqpForm.numberOfPublicPlace.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Minimum and maximum guest user bandwidth</label>
        <textarea ng-model="vm.minimumAndMaximumGuestUserBandwidth" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>How many meeting rooms?</label>
        <input type="text" id="numberOfMeetingRooms" name="numberOfMeetingRooms" ng-model="vm.numberOfMeetingRooms">

        <div ng-if="CoqpForm.numberOfMeetingRooms.$dirty" ng-messages="CoqpForm.numberOfMeetingRooms.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Meeting room 1 capacity</label>
        <input type="text" id="meetingRoom1Capacity" name="meetingRoom1Capacity" ng-model="vm.meetingRoom1Capacity">

        <div ng-if="CoqpForm.meetingRoom1Capacity.$dirty" ng-messages="CoqpForm.meetingRoom1Capacity.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Meeting room 2 capacity</label>
        <input type="text" id="meetingRoom2Capacity" name="meetingRoom2Capacity" ng-model="vm.meetingRoom2Capacity">

        <div ng-if="CoqpForm.meetingRoom2Capacity.$dirty" ng-messages="CoqpForm.meetingRoom2Capacity.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Meeting room 3 capacity</label>
        <input type="text" id="meetingRoom3Capacity" name="meetingRoom3Capacity" ng-model="vm.meetingRoom3Capacity">

        <div ng-if="CoqpForm.meetingRoom3Capacity.$dirty" ng-messages="CoqpForm.meetingRoom3Capacity.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>How Many Ballroom </label>
        <input type="text" id="numberOfBallroom" name="numberOfBallroom" ng-model="vm.numberOfBallroom">

        <div ng-if="CoqpForm.numberOfBallroom.$dirty" ng-messages="CoqpForm.numberOfBallroom.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Ballroom 1 capacity</label>
        <input type="text" id="ballroom1Capacity" name="ballroom1Capacity" ng-model="vm.ballroom1Capacity">

        <div ng-if="CoqpForm.ballroom1Capacity.$dirty" ng-messages="CoqpForm.ballroom1Capacity.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Ballroom 2 capacity</label>
        <input type="text" id="ballroom2Capacity" name="ballroom2Capacity" ng-model="vm.ballroom2Capacity">

        <div ng-if="CoqpForm.ballroom2Capacity.$dirty" ng-messages="CoqpForm.ballroom2Capacity.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Ballroom 3 capacity</label>
        <input type="text" id="ballroom3Capacity" name="ballroom3Capacity" ng-model="vm.ballroom3Capacity">

        <div ng-if="CoqpForm.ballroom3Capacity.$dirty" ng-messages="CoqpForm.ballroom3Capacity.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>


    <h3 class="md-subhead">Opportunity Info</h3>

    <md-input-container class="md-block">
        <label>Describe the opportunity/ customer needs</label>
        <textarea ng-model="vm.opportunityOrCustomerNeeds" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Describe the Ransnet products you recommend to offer?</label>
        <textarea ng-model="vm.ransnetProductsRecommended" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>When do they need to go live? (Is there a special reason to start?)</label>
        <input type="text" id="whenToGoLive" name="whenToGoLive" ng-model="vm.whenToGoLive">

        <div ng-if="CoqpForm.whenToGoLive.$dirty" ng-messages="CoqpForm.whenToGoLive.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <div flex-gt-xs>
        <label>Expected close date for this deal?</label>
        <md-datepicker ng-model="vm.dealCloseOfDate" md-placeholder="Enter date"></md-datepicker>
    </div>

    <md-input-container class="md-block">
        <label>Is budget available?</label>
        <input type="text" id="isBudgetAvailable" name="isBudgetAvailable" ng-model="vm.isBudgetAvailable">

        <div ng-if="CoqpForm.whenToGoLive.$dirty" ng-messages="CoqpForm.whenToGoLive.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Is POC needed?</label>
        <input type="text" id="isPocNeeded" name="isPocNeeded" ng-model="vm.isPocNeeded">

        <div ng-if="CoqpForm.isPocNeeded.$dirty" ng-messages="CoqpForm.isPocNeeded.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Are competitors on radar? Any competitor POC installed?</label>
        <input type="text" id="competitorPocInstalled" name="competitorPocInstalled" ng-model="vm.competitorPocInstalled">

        <div ng-if="CoqpForm.competitorPocInstalled.$dirty" ng-messages="CoqpForm.competitorPocInstalled.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Any other relevant info about sales process/situation?</label>
        <textarea ng-model="vm.otherRelevantInfoAboutSalesProccessOrSituation" md-select-on-focus></textarea>
    </md-input-container>


    <h3 class="md-subhead">Key People</h3>

    <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" id="keyPeopleName" name="keyPeopleName" ng-model="vm.keyPeopleName">

        <div ng-if="CoqpForm.keyPeopleName.$dirty" ng-messages="CoqpForm.keyPeopleName.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Position (Function)</label>
        <input type="text" id="keyPeoplePosition" name="keyPeoplePosition" ng-model="vm.keyPeoplePosition">

        <div ng-if="CoqpForm.keyPeoplePosition.$dirty" ng-messages="CoqpForm.keyPeoplePosition.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Contact Made</label>
        <input type="text" id="contactMade" name="contactMade" ng-model="vm.contactMade">

        <div ng-if="CoqpForm.contactMade.$dirty" ng-messages="CoqpForm.contactMade.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Contact Owner</label>
        <input type="text" id="contactOwner" name="contactOwner" ng-model="vm.contactOwner">

        <div ng-if="CoqpForm.contactOwner.$dirty" ng-messages="CoqpForm.contactOwner.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Interaction Frequency</label>
        <input type="text" id="interactionFrequency" name="interactionFrequency" ng-model="vm.interactionFrequency">

        <div ng-if="CoqpForm.interactionFrequency.$dirty" ng-messages="CoqpForm.interactionFrequency.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Deal Role</label>
        <input type="text" id="dealRole" name="dealRole" ng-model="vm.dealRole">

        <div ng-if="CoqpForm.dealRole.$dirty" ng-messages="CoqpForm.dealRole.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>


    <h3 class="md-subhead">Plan to Close” Checklist (updated regularly)</h3>

    <md-input-container class="md-block">
        <label>Who is key decision maker</label>
        <input type="text" id="keyDecisionMaker" name="keyDecisionMaker" ng-model="vm.keyDecisionMaker">

        <div ng-if="CoqpForm.keyDecisionMaker.$dirty" ng-messages="CoqpForm.keyDecisionMaker.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Who is project owner</label>
        <input type="text" id="projectOwner" name="projectOwner" ng-model="vm.projectOwner">

        <div ng-if="CoqpForm.projectOwner.$dirty" ng-messages="CoqpForm.projectOwner.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>What is compelling reason to act now</label>
        <input type="text" id="compellingReasonToAct" name="compellingReasonToAct" ng-model="vm.compellingReasonToAct">

        <div ng-if="CoqpForm.compellingReasonToAct.$dirty" ng-messages="CoqpForm.compellingReasonToAct.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>What roadblocks identified?</label>
        <input type="text" id="roadblockIdentified" name="roadblockIdentified" ng-model="vm.roadblockIdentified">

        <div ng-if="CoqpForm.roadblockIdentified.$dirty" ng-messages="CoqpForm.roadblockIdentified.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Are roadblocks resolved?</label>
        <input type="text" id="roadblockResolved" name="roadblockResolved" ng-model="vm.roadblockResolved">

        <div ng-if="CoqpForm.roadblockResolved.$dirty" ng-messages="CoqpForm.roadblockResolved.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Requirements quantified and customer acceptance confirmed?</label>
        <input type="text" id="requirementsQuantifiedAndCustomerAcceptanceConfirmed" name="requirementsQuantifiedAndCustomerAcceptanceConfirmed" ng-model="vm.requirementsQuantifiedAndCustomerAcceptanceConfirmed">

        <div ng-if="CoqpForm.requirementsQuantifiedAndCustomerAcceptanceConfirmed.$dirty" ng-messages="CoqpForm.requirementsQuantifiedAndCustomerAcceptanceConfirmed.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Technical path clarified and customer acceptance confirmed?</label>
        <input type="text" id="technicalPathClarifiedAndCustomerAcceptanceConfirmed" name="technicalPathClarifiedAndCustomerAcceptanceConfirmed" ng-model="vm.technicalPathClarifiedAndCustomerAcceptanceConfirmed">

        <div ng-if="CoqpForm.technicalPathClarifiedAndCustomerAcceptanceConfirmed.$dirty" ng-messages="CoqpForm.technicalPathClarifiedAndCustomerAcceptanceConfirmed.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Customer budget confirmed?</label>
        <input type="text" id="customerBudgetConfirmed" name="customerBudgetConfirmed" ng-model="vm.customerBudgetConfirmed">

        <div ng-if="CoqpForm.customerBudgetConfirmed.$dirty" ng-messages="CoqpForm.customerBudgetConfirmed.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Formal quote already issued to customer?</label>
        <input type="text" id="formalQuoteAlreadyIssuedToCustomer" name="formalQuoteAlreadyIssuedToCustomer" ng-model="vm.formalQuoteAlreadyIssuedToCustomer">

        <div ng-if="CoqpForm.formalQuoteAlreadyIssuedToCustomer.$dirty" ng-messages="CoqpForm.formalQuoteAlreadyIssuedToCustomer.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>What was offered?</label>
        <input type="text" id="whatWasOffered" name="whatWasOffered" ng-model="vm.whatWasOffered">

        <div ng-if="CoqpForm.whatWasOffered.$dirty" ng-messages="CoqpForm.whatWasOffered.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Sign off from key decision maker?</label>
        <input type="text" id="signOffFromKeyDecisionMaker" name="signOffFromKeyDecisionMaker" ng-model="vm.signOffFromKeyDecisionMaker">

        <div ng-if="CoqpForm.signOffFromKeyDecisionMaker.$dirty" ng-messages="CoqpForm.signOffFromKeyDecisionMaker.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Sign off from financier?</label>
        <input type="text" id="signOffFromFinancier" name="signOffFromFinancier" ng-model="vm.signOffFromFinancier">

        <div ng-if="CoqpForm.signOffFromFinancier.$dirty" ng-messages="CoqpForm.signOffFromFinancier.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>PO issued?</label>
        <input type="text" id="poIssued" name="poIssued" ng-model="vm.poIssued">

        <div ng-if="CoqpForm.poIssued.$dirty" ng-messages="CoqpForm.poIssued.$error">
            <div ng-messages-include="./views/app/pages/ng-messages/ng-messages.page.html"></div>
        </div>
    </md-input-container>

    <div layout="row" layout-align="end center">
        <md-button type="submit" class="md-primary md-raised">Submit</md-button>
    </div>
    <br />

</form>