<md-content class="Page-container">
    <div flex="70" flex-offset="15" flex-sm="80" flex-offset-sm="10" flex-xs="90" flex-offset-xs="5">
        <div layout="column">
            <div layout="row" layout-align="center center">
                <h1 class="md-headline">Customer Opportunity Qualification Profile</h1>
            </div>

            <div class="padded" md-whiteframe="24"  flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="column" layout-align="space-around none">
                <div style="margin: 2em;">
                    <coqp-form></coqp-form>
                </div>
            </div>

            <br /><br />

        </div>
    </div>
</md-content>